<div class="navBar">
    <div class="title"><h1>OpenTube</h1></div>
</div>

<div class="main">
    <div class="searchbar">
        <input type="text" #searchbar [(ngModel)]="searchInput" (keyup)="fetchSeries($event.key)"
        placeholder="search something" size="50px"/>
        <br/>
        <br/>
        <div *ngFor ="let result of results">
            <h4 class="result">
                {{result}}
            </h4>
        </div>
    </div>
    <div class="content">
        <div class="card">
            
        </div>
    </div>
</div>
